.mat-radio-button ~ .mat-radio-button {
    margin-top: 10px;
    margin-left: 16px;
    margin-bottom: 10px;
  }

  #parent {overflow: hidden}

.grid-container {
  margin-top: 50px;
   display: grid;
   grid-template-columns: 20% 20% 20% 20% 20%;
   justify-items: center;
   /* grid-column-gap: 20 px; */
  }

#popup {
  display: none;
  border: 1px solid black; 
  width: 50%; 
  /* height: 230px; */
  background: #efefef;
}

#text {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}