.mat-radio-button ~ .mat-radio-button {
    margin-top: 10px;
    margin-left: 16px;
    margin-bottom: 10px;
  }

  #parent {overflow: hidden}

.grid-container {
  margin-top: 50px;
   display: grid;
   grid-template-columns: 20% 20% 20% 20% 20%;
   justify-items: center;
   padding: 10px;
  }